/* universal styles */
/* ==================== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* custom variables */
/* ================ */
:root {
  --clr-light: #fff;
  --clr-dark: #292929;
  --clr-accent: #e61e25;
  --clr-accent-dark: #b12025;

  --fs-body: 1rem;
}

/* general styles and classes */
/* ========================== */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  color: var(--clr-dark);

  font-size: var(--fs-body);
}

.read-only-display {
  font-size: 1.05rem;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;

  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;

  border: none;
  border-radius: 25px 25px 3px 3px;

  background-image: linear-gradient(180deg, #780909, #980a0a);
  color: white;
  outline: 1px solid #b12025;
  outline-offset: 1px;
}

.math-field-custom-style {
  width: fit-content;
  font-weight: 200;
  margin: auto;
}

.width-margin {
  width: fit-content;
  margin-left: 10px;
}

.width-bg {
  max-width: 280px;
  background-image: linear-gradient(180deg, #b12025, #292929);

  margin-left: 8px;
  margin-top: 10px;
  margin-bottom: 10px;

  padding: 2px;

  font-size: 1rem;
  border-radius: 2px 20px 2px 20px;

  outline: 1px solid #b12025;
  outline-offset: 1px;

  color: #ffffff;
}

/* styles by id */
/* =============*/

#bottom-container {
  margin-top: 83px;
  /* position: relative; */
}

#x-input-div {
  background-image: linear-gradient(180deg, #00000080, #ffffffb0);
  color: #b12025;
  border-radius: 3px 3px 3px 3px;
}

#x-input {
  min-width: fit-content;
  font-size: 1.5rem;
}

#y-input-div {
  background-image: linear-gradient(180deg, #00000080, #ffffffb0);
  color: #b12025;
  border-radius: 3px 3px 3px 3px;
}

#y-input {
  min-width: fit-content;
  font-size: 1.5rem;
}

#button-div {
  width: fit-content;
  margin: auto;
}

#submit-btn {
  width: 10rem;

  margin-top: 10px;
  margin-bottom: 10px;

  padding-top: 10px;
  padding-bottom: 10px;

  border: none;
  border-radius: 2px 15px 2px 15px;

  background: #b12025;
  color: white;

  font-size: 1em;
  font-weight: 600;
}

#submit-btn:hover {
  box-shadow: 0px 0px 0.5rem #b12025;

  cursor: pointer;

  background: white;
  color: #b12025;
}

#custom-coordinate-div {
  position: relative;
  display: none;
}

#custom-coordinate {
  display: inline-block;
}

#left-bracket {
  position: absolute;
  top: 22%;
}

#right-bracket {
  position: absolute;
  top: 22%;
}

#comma {
  position: absolute;
  top: 22%;
}

#x-coordinate {
  display: inline-block;
  padding: 0px 2px 0px 2px;
  margin: 0px 2px 0px 6px;
}

#y-coordinate {
  display: inline-block;
  padding: 0px 2px 0px 2px;
  margin: 0px 1px 0px 1px;
}

#p-of-xy {
  display: inline-block;
}

#q-of-xy {
  display: inline-block;
}

#curl-equation-label {
  margin-left: 10px;
}

#curl-value {
  display: inline-block;
}

#divergence-equation-label {
  margin-left: 10px;
}

#divergence-value {
  display: inline-block;
}

/* ++++++++++++++++++++++++++++++++++++ */
/* +++++++++MODAL and BACKDROP+++++++++ */
/* ++++++++++++++++++++++++++++++++++++ */

/* The Modal (modal backdrop) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.295); /* Black w/ opacity */
}

/* Modal Content (modal box)*/
.modal-content {
  font-family: Garamond, serif;
  font-weight: 600;
  background-color: white;
  margin: auto;
  padding: 25px 25px 25px 25px;
  border: none;
  width: 30%;
  border-radius: 0px 0px 8px 8px;
  box-shadow: 0px 5px 20px 1px;
}

/* Modal Header (modal heading)*/
.modal__header {
  position: relative;
  font-family: Tahoma, sans-serif;
  background: #e50913;
  color: white;
  font-weight: 600;
  margin: auto;
  padding: 10px;
  border-radius: 8px 8px 0px 0px;
  border: none;
  width: 30%;
}

/* The Close Button */
.close {
  position: absolute;
  left: 90%;
  top: 0%;
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++ LOADER | SPINNER ++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++ */

#loader-div-parent {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#loader-div-child {
  display: flex;
  width: fit-content;
  margin: auto;
  position: absolute;
  top: 45%;
  left: 45%;
}

#loader-div img {
  width: 100%;
  height: 100%;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++ CONTROL MENU BAR ++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++ */

#control-menu-bar {
  height: fit-content;
  margin: 10px;
  padding: 9px 0px 9px 0px;

  background-image: linear-gradient(to top, #d8d9db 0%, #fff 80%, #fdfdfd 100%);
  border-radius: 30px;
  border: 1px solid #8f9092;
  /* convex effect */
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 3px 0 #cecfd1;
}

#control-menu-bar-child {
  display: flex;
}

/* ++++++++++++++ RECORD ON OFF ++++++++++++++ */

#record-on-off {
  width: fit-content;
  margin: auto;
  background-image: linear-gradient(to top, #d8d9db 0%, #fff 80%, #fdfdfd 100%);
  border-radius: 30px;
  border: 1px solid #8f9092;
  /* convex effect */
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 3px 0 #cecfd1;
}

#record-off-icon {
  display: block;
  content: url("./image/pause.png");
  cursor: pointer;
}

#record-on-icon {
  display: none;
  content: url("./image/play.png");
  cursor: pointer;
}

/* ++++++++++++++ CUSTOM COORDINATE ON OFF ++++++++++++++ */

#switch-on-off {
  width: fit-content;
  margin: auto;

  background-image: linear-gradient(to top, #d8d9db 0%, #fff 80%, #fdfdfd 100%);
  border-radius: 30px;
  border: 1px solid #8f9092;
  /* convex effect */
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 3px 0 #cecfd1;
}

#switch-off-icon {
  content: url("./image/switch_off.png");
  cursor: pointer;
  display: block;
}

#switch-on-icon {
  content: url("./image/switch_on.png");
  cursor: pointer;
  display: none;
}

/* ++++++++++++++ SCALE ON OFF ++++++++++++++ */

#scale-on-off {
  width: fit-content;
  margin: auto;

  background-image: linear-gradient(to top, #d8d9db 0%, #fff 80%, #fdfdfd 100%);
  border-radius: 10px;
  border: 1px solid #8f9092;
  /* convex effect */
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 3px 0 #cecfd1;

  position: relative;
}

#scale-off-icon {
  content: url("./image/scale_off.png");
  cursor: pointer;
  display: block;
}

#scale-on-icon {
  content: url("./image/scale_on.png");
  cursor: pointer;
  display: none;
}

#scale-slider-div {
  display: none;
  position: absolute;

  background-image: linear-gradient(to top, #b6afb0 0%, #fff 80%, #fdfdfd 100%);
  border-radius: 10px;
  border: 1px solid #8f9092;

  width: fit-content;
  padding: 0.5rem;

  left: -64px;
  top: -59px;
}

#scale-slider {
  width: 10rem;
}

/* ++++++++++++++ ZOOM ON OFF ++++++++++++++ */

#zoom-on-off {
  width: fit-content;
  margin: auto;

  background-image: linear-gradient(to top, #d8d9db 0%, #fff 80%, #fdfdfd 100%);
  border-radius: 10px;
  border: 1px solid #8f9092;
  /* convex effect */
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 3px 0 #cecfd1;

  position: relative;
}

#zoom-off-icon {
  content: url("./image/zoom_off.png");
  cursor: pointer;
  display: block;
}

#zoom-on-icon {
  content: url("./image/zoom_on.png");
  cursor: pointer;
  display: none;
}

#zoom-slider-div {
  display: none;
  position: absolute;

  background-image: linear-gradient(to top, #b6afb0 0%, #fff 80%, #fdfdfd 100%);
  border-radius: 10px;
  border: 1px solid #8f9092;

  width: fit-content;
  padding: 0.5rem;

  left: -74px;
  top: -59px;
}

#zoom-slider {
  width: 10rem;
}

/* ========================================================= */

/* ++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++ DISABLE ANY DIV +++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++ */
.disable-div {
  pointer-events: none;
  opacity: 0.5;
}
/* ================================================== */

/* ++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++ TOP ALERT BAR ++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++ */
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  /* border-radius: 5px; */
}

.alert.success {
  background-color: #04aa6d;
}
.alert.info {
  background-color: #cce5ff;
  border: 1px solid #b8daff;
  color: #002752;
}
.alert.warning {
  background-color: #ff9800;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

/* =================================================== */