/* universal styles */
/* ==================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* custom variables */
/* ================ */
:root {
  --clr-light: #fff;
  --clr-dark: #292929;
  --clr-accent: #e61e25;
  --clr-accent-dark: #b12025;

  --fs-body: 1rem;
}

/* general styles and classes */
/* ========================== */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  color: var(--clr-dark);

  font-size: var(--fs-body);
}

.read-only-display {
  font-size: 1.05rem;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;

  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;

  border: none;
  border-radius: 25px 25px 3px 3px;

  background-image: linear-gradient(180deg, #780909, #980a0a);
  color: white;
  outline: 1px solid #b12025;
  outline-offset: 1px;
}

.math-field-custom-style {
  width: fit-content;
  font-weight: 200;
  margin: auto;
}

.width-margin {
  width: fit-content;
  margin-left: 10px;
}

.width-bg {
  max-width: 280px;
  background-image: linear-gradient(180deg, #b12025, #292929);

  margin-left: 8px;
  margin-top: 10px;
  margin-bottom: 10px;

  padding: 2px;

  font-size: 18px;
  border-radius: 2px 20px 2px 20px;

  outline: 1px solid #b12025;
  outline-offset: 1px;

  color: #ffffff;
}

/* styles by id */
/* =============*/

#top-container {
}

#bottom-container {
  margin-top: 35px;
}

#x-input-div {
  background-image: linear-gradient(180deg, #00000080, #ffffffb0);
  color: #b12025;
  border-radius: 3px 3px 3px 3px;
}

#x-input {
  min-width: fit-content;
  font-size: 1.5rem;
}

#y-input-div {
  background-image: linear-gradient(180deg, #00000080, #ffffffb0);
  color: #b12025;
  border-radius: 3px 3px 3px 3px;
}

#y-input {
  min-width: fit-content;
  font-size: 1.5rem;
}

#button-div {
  width: fit-content;
  margin: auto;
}

#submit-btn {
  width: 10rem;

  margin-top: 10px;
  margin-bottom: 10px;

  padding-top: 10px;
  padding-bottom: 10px;

  border: none;
  border-radius: 2px 15px 2px 15px;

  background: #b12025;
  color: white;

  font-size: 1em;
  font-weight: 600;
}

#submit-btn:hover {
  box-shadow: 0px 0px 0.5rem #b12025;

  cursor: pointer;

  background: white;
  color: #b12025;
}

#coordinate-disp-div {
}

#coordinate-disp {
}

#custom-coordinate-div {
  position: relative;
}

#custom-coordinate {
  display: inline-block;
}

#left-bracket {
  position: absolute;
  top: 22%;
}

#right-bracket {
  position: absolute;
  top: 22%;
}

#comma {
  position: absolute;
  top: 22%;
}

#x-coordinate {
  display: inline-block;
  padding: 0px 2px 0px 2px;
  margin: 0px 2px 0px 6px;
}

#y-coordinate {
  display: inline-block;
  padding: 0px 2px 0px 2px;
  margin: 0px 1px 0px 1px;
}

#p-of-xy-div {
}

#p-of-xy {
  display: inline-block;
}

#q-of-xy-div {
}

#q-of-xy {
  display: inline-block;
}

#curl-equation-div {
}

#curl-equation-label {
  margin-left: 10px;
}

#curl-equation {
}

#curl-value-div {
}

#curl-value {
  display: inline-block;
}

#divergence-equation-div {
}

#divergence-equation-label {
  margin-left: 10px;
}

#divergence-equation {
}

#divergence-value-div {
}

#divergence-value {
  display: inline-block;
}
